.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
kodilla-testing/build/
kodilla-testing/out/
kodilla-stream/build/
kodilla-stream/out/
kodilla-exception/build/
kodilla-exception/out/
kodilla-good-paterns/build/
kodilla-good-paterns/out/
kodilla-exceptions/build/
kodilla-exceptions/out/
kodilla-good-patterns/build/
kodilla-good-patterns/out/
kodilla-good-paterns/build/
kodilla-good-paterns/out/
kodilla-spring-intro/build/
kodilla-spring-intro/out/
kodilla-spring/build/
kodilla-spring/out/
kodilla-spring-web/build/
kodilla-spring-web/out/
kodilla-patterns/build/
kodilla-patterns/out/
kodilla-jdbc/out/
kodilla-jdbc/build/
kodilla-rps/build/
kodilla-rps/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/