.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
kodilla-testing/build/
kodilla-testing/out/
kodilla-stream/build/
kodilla-stream/out/
kodilla-exceptions/build/
kodilla-exceptions/out/
kodilla-good-paterns/build/
kodilla-good-paterns/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/